* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.iam {
    border: 3px solid #fff;
    padding: 20px;
}

.type-container {
    /* width: 100%; */
    /* width: 60%; */
    height: 50px;
    display: flex;
    float: left;
    padding: 20px;
    /* border: 2px solid red; */
    /* align-items: left;
    margin-left: 50px;*/
    margin-top: 180px;  
    max-width: 100%;
}

h1 {
    font-size: x-large;
}

.typed {
    color: #3EAF94 !important;
}

.headshot-container {
    width: 40%;
    float: right;
    padding: 20px;
    /* border: 2px solid red; */
    border: 2px;
    /* margin-top: 100px; */
    /* max-width: 100%; */
    /* height: auto; */
    margin-right: 20px;
}

.headshot {
    /* border: 1px solid #ddd; */
    border-radius: 20px;
    padding: 5px;
    max-width: 100%;
    height: auto;
}

.links-container {
    /* border: 2px solid red; */
    height: 50px;
    margin-top: 230px;
    width: 500px;
    margin-left: 15px;
}

a {
    padding: 5px;
    float: left;
    font-size: 20px;
}


